{% extends 'base.html' %}

{% block content %}


<!DOCTYPE html>
<html>
    <head>
        <title>Calculator Cubaj</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='course.css') }}">
    </head>

    <body>
        <div class="image">
            <a href="https://www.udemy.com/certificate/UC-3acb059a-9345-4a80-ab3f-8c3629f2acf8/"><img src="/static/img/DjangoFlask.jpg" alt=""></a><br>
            <a href="https://www.udemy.com/certificate/UC-3332cfdb-2b57-4349-9ba2-a1c59bd14547/"><img src="/static/img/ML.jpg" alt=""></a><br>
            <a href="https://www.udemy.com/certificate/UC-7e50999b-92aa-4e1d-9899-d2dc66226146/"><img src="/static/img/WebScraping.jpg" alt=""></a>
        </div>
    </body>
    
</html>





{% endblock %}
