{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='formstyle.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='home.ico') }}">

  </head>
  <body>
  <div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="bg-secondary p-5">
                    <form method="POST" action="" >
                        <div class="row g-3">
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control bg-transparent" id="name" placeholder="Name" name="name">
                                    <label for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="email" class="form-control bg-transparent" id="email" placeholder="Your Email" name="username">
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="password" class="form-control bg-transparent" id="subject" placeholder="Password" name="password1">
                                    <label for="subject">Password</label>
                                </div>
                            </div>
                            <div class="col-12">
                              <div class="form-floating">
                                  <input type="password" class="form-control bg-transparent" id="subject" placeholder="Re-type Password" name="password2">
                                  <label for="subject">Re-type Password</label>
                              </div>
                          </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Sign Up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>

  </body>
{% if context %}
    <script>
        window.onload = function() {
            alert('{{ context['message'] }}');
        };
    </script>
{% endif %}
</html>
{% endblock %}