<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
<!--            height: 842px;-->
<!--            width: 595px;-->
<!--            /* to centre page on screen*/-->
<!--            margin-left: auto;-->
<!--            margin-right: auto;-->
            font-family: Arial;
            font-size: 18px
        }
        .left{
            float:left;
        }
        .right{
            float:right;
        }
    </style>
</head>
<body>
    <div class="left">
        <p>
        APROBAT <br>
        Sef Ierarhic superior <br>
        Nume, Prenume <b style="text-decoration:underline">Itu Cosmin</b> <br><br>
        Semnatura __________________
        </p>
    </div>
    <div class="right">
        VIZAT <br>
        Compartiment Resurse Umane <br><br><br><br>
        Data:__________________________
    </div>
    <br><br><br><br><br><br>
    <p style="text-align: center;"><b>Catre Conducerea Energobit S.A.,</b></p>
    <p style="text-align:left;">
        Subsemnatul/a, <b style="text-decoration:underline;">{{ name }}</b> va rog sa-mi aprobati concediu <b>de odihna</b><br>
        de la <u>{{ start }}</u> pana la <u>{{ end }}</u>, inclusiv, reprezentand <b>{{ total }}</b> zile lucratoare. <br>
        Mentionez ca persoana care ma inlocuieste este _______________________
    </p><br><br><br>
    <div class="left">
        Va multumesc.
        <p>
        Data <br><br>
        ____________________
        </p>
    </div>
    <div class="right">
        Semnatura <br><br><br><br>
        __________________________
    </div>

</body>
</html>